:root {
  --background-color: #f2f6ff;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

/* * {
  font-family: "Nanum Gothic", serif !important;
} */

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  background-color: var(--background-color);
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 25px;
}

.navbar-brand {
  padding: 0px 15px;
}

.navbar-brand > img {
  width: 55px;
}

.singin-form {
  width: 50%;
  padding: 45px;
  border-radius: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translatY(-100%);
}

.inner-wrapper {
  width: 1170px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.form-control {
  font-size: 1.5rem;
  height: 3rem !important;
}

.store-form {
  width: 100%;
  padding: 50px;
  border-radius: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}