<div class="inner-wrapper">
    <div class="store-form">
        <form style="width: 100%;" id="store-form" method="POST">
            <div style="height: 55px; display: flex; justify-content: space-between; align-items: center;" class="form-group">
                <h4>{{data.achieveinfo[0][0]}}</h4>
                <div style="width: fit-content;">
                    <button style="font-weight: 600;" name="button" value="1" class="btn btn-primary">달성</button>
                </div>
            </div>
            <div style="height: 55px; display: flex; justify-content: space-between; align-items: center;" class="form-group">
                <h4>{{data.achieveinfo[1][0]}}</h4>
                <div style="width: fit-content;">
                    <button style="font-weight: 600;" name="button" value="2" class="btn btn-primary">달성</button>
                </div>
            </div>
            <div style="height: 55px; display: flex; justify-content: space-between; align-items: center;" class="form-group">
                <h4>{{data.achieveinfo[2][0]}}</h4>
                <div style="width: fit-content;">
                    <button style="font-weight: 600;" name="button" value="3" class="btn btn-primary">달성</button>
                </div>
            </div>
            <div style="height: 55px; display: flex; justify-content: space-between; align-items: center;" class="form-group">
                <h4>{{data.achieveinfo[3][0]}}</h4>
                <div style="width: fit-content;">
                    <button style="font-weight: 600;" name="button" value="4" class="btn btn-primary">달성</button>
                </div>
            </div>
            <div style="height: 55px; display: flex; justify-content: space-between; align-items: center;" class="form-group">
                <h4>{{data.achieveinfo[4][0]}}</h4>
                <div style="width: fit-content;">
                    <button style="font-weight: 600;" name="button" value="5" class="btn btn-primary">달성</button>
                </div>
            </div>
        </form>
    </div>
</div>