<div class="inner-wrapper">
    <div class="singin-form">
        <form style="width: 100%;" id="achieve_form">
            <!-- <div class="form-group">
                <label for="exampleInputEmail1">이메일</label>
                <input maxlength="30" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">비밀번호</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">비밀번호 확인</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Check password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">닉네임</label>
                <input maxlength="30" class="form-control" id="exampleInputPassword1" placeholder="Nickname">
            </div>
            <button style="width: 100%; height: 15%; font-weight: 600;" type="submit" class="btn btn-primary">로그인</button>
            <a href="/login">
                <small id="emailHelp" style="text-align: center; padding: 15px 0px;" class="form-text text-muted">이미 회원이신가요?</small>
            </a> -->

            <div class="form-group">
                <label for="game1">게임1</label>
            </div>

            <label for="game2">게임2</label>
                <label for="game3">게임3</label>
                <label for="game4">게임4</label>
                <label for="game5">게임5</label>
        </form>
    </div>
</div>